<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A little about me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 justify-content">
        <p>I am a hard worker and engineer at heart. I enjoy doing CAD, especially creating different types of 3D models. I have taken a few engineering classes in high school and plan to continue that path in college.</p>
      </div>
      <div class="col-lg-4 justify-content">
        <p> I work well with others in a team by making sure everything is organized and that everything gets done on time as much as possible. I know Minecraft very well and have been playing and building with it since 2012.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
